<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap mp rescap">

  <Identity
    Name="InterlinedList"
    Publisher="CN=REPLACE-WITH-PARTNER-CENTER-PUBLISHER-ID"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="08ff27c8-1f81-4a8f-b4b4-f7471e74710a" PhonePublisherId="00000000-0000-0000-0000-000000000000" />

  <Properties>
    <DisplayName>InterlinedList</DisplayName>
    <PublisherDisplayName>InterlinedList</PublisherDisplayName>
    <Logo>Images\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.19041.0" MaxVersionTested="10.0.22621.0" />
  </Dependencies>

  <Resources>
    <Resource Language="en-us" />
  </Resources>

  <Applications>
    <Application Id="InterlinedList" Executable="InterlinedList.exe" EntryPoint="Windows.FullTrustApplication">
      <uap:VisualElements
        DisplayName="InterlinedList"
        Description="Signal streams, live."
        BackgroundColor="#0C2C3A"
        Square150x150Logo="Images\Square150x150Logo.png"
        Square44x44Logo="Images\Square44x44Logo.png">
        <uap:SplashScreen Image="Images\SplashScreen.png" BackgroundColor="#0C2C3A" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
